<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>EnvironmentVariables</key>
		<dict>
			<key>PATH</key>
			<string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/sbin</string>
		</dict>
		<key>Label</key>
		<string>py.script.logarchiver</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/local/opt/python/bin/python3.7</string>
			<string>/Users/admin/Scripts/Log_Archiver/main.py</string>
		</array>
		<key>StartCalendarInterval</key>
		<dict>
		<key>Day</key>
		<integer>1</integer>
		<key>Hour</key>
		<integer>00</integer>
		</dict>

		<key>StandardErrorPath</key>
		<string>/tmp/</string>
		<key>StandardOutPath</key>
		<string>/tmp/</string>
	</dict>
</plist>
